body {
    background-color: #EBCCC6;
  }

  img.logo{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 10%;
    display: inline;
    margin-left: 30%;
  }

  .buttons{
    border-style:solid;
    border-width:thick;
    border-color:#80A894;
    background:#80A894;
  }

  .btn-primary{
    background-color: #cc46db !important;
}

  img.suriel {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.7;
    padding: 20px;
  }

  img.Prythianmap{
    padding:30px;
    border-radius:10%;
  }

  p.welcomeinfo {
    font-size:25px;
    color:#19596C;
    text-align: center;
    font-family:"Lucida Handwriting";
    padding: 20px;
  }

  .nav-item{
    font-family: "Times New Roman";
    font-size: larger;
    -webkit-text-stroke: 1px #19596C;
  }

.d-grid{
    padding-top: 10px;
    padding-bottom: 40px;
}